.search-main {
  padding: 0.5% 6% 0.5% 6%;
  align-items: center;
  justify-content: space-around;
  background-color: var(--cultured);
  border-bottom: 1px solid var(--platinum);
}
.section-title-wrapper {
  width: auto;
  min-height: 50px;
  display: flex;
  align-items: center;
}

::placeholder {
  color: var(--davysGrey);
  opacity: 1; /* Firefox */
  font-size: 0.875rem;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--davysGrey);
  font-size: 0.875rem;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--davysGrey);
  font-size: 0.875rem;
}
.new-project-input {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #c0c0c0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 50%;
  padding: 5px 15px;
  border-radius: 4px;
  -webkit-transition: background-color #c0c0c0, box-shadow #c0c0c0,
    border-color #c0c0c0, color #c0c0c0;
  transition: background-color #c0c0c0, box-shadow #c0c0c0, border-color #c0c0c0,
    color #c0c0c0;
  border: 1px solid #c0c0c0;
  color: var(--davysGrey);
}
.btn-add-project {
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid var(--steelBlue);
  border-radius: 7px;
  padding: 7px 25px 7px 25px;
  width: 210px;
  background-color: var(--steelBlue);
  color: var(--cultured);
  font-weight: 600;
  margin-left: 20px;
}

.form-project {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
}
.addProject {
  display: flex;
  justify-content: flex-end;
}
.attribute-wrapper {
  display: flex;
  justify-content: flex-end;
}

.aggiungi-progetto {
  margin-left: 15px;
}
